[Unit]
Description=Blockchain-based marketplace for file storage - hostd
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/sia-hostd
WorkingDirectory=/var/lib/sia/hostd
ExecStart=/usr/sbin/sia-hostd $SIAD_PARAMS 
User=sia
Group=sia
Restart=always
RestartSec=15
ProtectHome=false

[Install]
WantedBy=multi-user.target
