[Unit]
Description=Blockchain-based marketplace for file storage
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/sia/sia.pid
EnvironmentFile=/etc/sysconfig/sia
ExecStart=/usr/sbin/siad $SIAD_PARAMS 
User=sia
Group=sia

[Install]
WantedBy=multi-user.target
